<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./style.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <title>ShopBQH</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>
                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>Samsung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>


       <section class="order">
              <div class="product">
                <img src="../img/samsung/a34-3.png" style="width: 150px;" alt="Product image">
                <div class="product-info">
                  <h2>SAMSUNG A34 5G (6GB/128GB) - Chính hãng</h2>
                  <p class="price" style="color: red;">Giá: 6.000.000đ</p>
                  <p class="gia-order">10.500.000đ</p>
                  <p class="free-ship">Miễn phí vận chuyển toàn quốc</p>
                  <form class="form-order">
                     <label for="color">Màu sắc:</label><br>
                     <input id="color-white" name="color" type="radio" value="Trắng">
                     <label for="color-white" class="radio-label">Trắng</label><br>
                     <input id="color-green" name="color" type="radio" value="Xanh">
                     <label for="color-green" class="radio-label">Xanh</label><br>
                     <input id="color-black" name="color" type="radio" value="Đen">
                     <label for="color-black" class="radio-label">Đen</label><br>
                   </form>
                </div>
              </div>
              <form class="form-od" action="#" method="post">
                <label for="name">Họ tên:</label>
                <input type="text" id="name" name="name" required>
                <label for="phone">Số điện thoại:</label>
                <input type="tel" id="phone" name="phone" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="address">Địa chỉ:</label>
                <textarea id="address" name="address" required></textarea>
                <label for="quantity">Số lượng:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" required>
                <button type="submit">Thêm vào giỏ hàng</button>
              </form>
       </section>

<!-- /////////////////// -->

       <footer class="footer">
              <div class="container-footer">
                     <div class="row">
                            <div class="footer-col">
                                   <h4>
                                          <a>Hỗ trợ - Dịch vụ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Mua hàng trả góp</a></li>
                                          <li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                                          <li><a href="#">Tra cứu hóa đơn</a></li>
                                          <li><a href="#">Chính sách bảo hành</a></li>
                                          <li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
                                          <li><a href="#">Chính sách bảo mật</a></li>
                                          <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                                          <li><a href="#">Điều khoản mua bán hàng hóa</a></li>
                                          <li><a href="#">Câu hỏi thường gặp</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Thông tin liên hệ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Bán hàng Online</a></li>
                                          <li><a href="#">Chăm sóc khách hàng</a></li>
                                          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                                          <li><a href="#">Hỗ trợ bảo hành & sửa chữa</a></li>
                                          <li><a href="#">Liên hệ khối văn phòng</a></li>
                                          <li><a href="#">Hợp tác kinh doanh</a></li>
                                          <li><a href="#">Trung tâm bảo hành</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Hệ thống 126 siêu thị trên toàn quốc</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Danh sách 126 siêu thị trên toàn quốc</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>Tổng đài</h4>
                                   <a class="hotline" href="tel:19002610">1900.2610</a>
                            </div>
                            <div class="footer-col">
                                   <h4>Thanh toán miến phí</h4>
                                   <ul class="list-logo">
                                          <li>
                                                 <img src="..\img\logo-visa.png" />
                                                 <img src="..\img\logo-master.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-samsungpay.png">
                                                 <img src="..\img\logo-jcb.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-atm.png">
                                                 <img src="..\img\logo-vnpay.png">
                                          </li>
                                   </ul>
                            </div>

                     </div>
                     <div class="info">
                            <p>© 2023. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI BQH.</p>
                            <p>Địa chỉ: Số 01 Đường Phan Trọng Tuệ, Phường Thanh Liệt, Huyện Thanh Trì, Thành Phố Hà
                                   Nội, Việt Nam.</p>
                     </div>
       </footer>
</body>

</html>