<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./style.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <link rel="stylesheet" href="https://boxicons.com/">
       <title>ShopBQH</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>

                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>Samsung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>
       <div style="margin-top: 20px;" class="div_apple">
              <div class="div_logo">
                     <p class="logo-apple"><a href="">APPLE</a></p>
              </div>
              <ul class="sp-apple">

                     <li><a href="./index-order-ip.html">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-11.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 23px;">IPHONE 11 (128GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">10.290.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/13.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 13 (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">14.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-yellow.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 28px;">IPHONE 14 PLUS (128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">21.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-pro.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 14 PRO (256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">27.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-prm.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 20px;" >IPHONE 14 PROMAX (256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">29.490.000đ</b>
                                   </div>
                            </a></li>

                            <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-11-512.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 23px;">IPHONE 11 (512GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">12.390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-13-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 10px;">IPHONE 13 MINI (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">20.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-12.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 12 (128GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">15.190.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-12-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 10px;">IPHONE 12 MINI (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">19.900.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-13-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 13px;">IPHONE 13 MINI (512GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">20.990.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>

       <footer class="footer">
              <div style="margin-top: 300px;" class="container-footer">
                     <div class="row">
                          <div class="footer-col">
                                   <h4>
                                          <a>Hỗ trợ - Dịch vụ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Mua hàng trả góp</a></li>
                                          <li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                                          <li><a href="#">Tra cứu hóa đơn</a></li>
                                          <li><a href="#">Chính sách bảo hành</a></li>
                                          <li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
                                          <li><a href="#">Chính sách bảo mật</a></li>
                                          <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                                          <li><a href="#">Điều khoản mua bán hàng hóa</a></li>
                                          <li><a href="#">Câu hỏi thường gặp</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Thông tin liên hệ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Bán hàng Online</a></li>
                                          <li><a href="#">Chăm sóc khách hàng</a></li>
                                          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                                          <li><a href="#">Hỗ trợ bảo hành & sửa chữa</a></li>
                                          <li><a href="#">Liên hệ khối văn phòng</a></li>
                                          <li><a href="#">Hợp tác kinh doanh</a></li>
                                          <li><a href="#">Trung tâm bảo hành</a></li>
                                   </ul>
                          </div> 
                          <div class="footer-col">
                                   <h4>
                                          <a>Hệ thống 126 siêu thị trên toàn quốc</a>
                                   </h4> 
                                   <ul>
                                          <li><a href="#">Danh sách 126 siêu thị trên toàn quốc</a></li>
                                   </ul>
                     </div>
                     <div class="footer-col">
                     <h4>Tổng đài</h4>
                     <a class="hotline" href="tel:19002610">1900.2610</a>
                     </div>
                     <div class="footer-col">
                            <h4>Thanh toán miến phí</h4>
                            <ul class="list-logo">
                                   <li>
                                          <img src="..\img\logo-visa.png" />
                                          <img src="..\img\logo-master.png">
                                   </li>
                                   <li>
                                          <img src="..\img\logo-samsungpay.png">
                                          <img src="..\img\logo-jcb.png">
                                   </li>
                                   <li>
                                          <img src="..\img\logo-atm.png">
                                          <img src="..\img\logo-vnpay.png">
                                   </li>
                            </ul>
                     </div>
                     
              </div>
              <div class="info">
                            <p>© 2023. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI BQH.</p>
                            <p>Địa chỉ: Số 01 Đường Phan Trọng Tuệ, Phường Thanh Liệt, Huyện Thanh Trì, Thành Phố Hà Nội, Việt Nam.</p>
                     </div>
       </footer>
</body>

</html>