<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./style.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <link rel="stylesheet" href="https://boxicons.com/">
       <title>ShopBQH</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>

                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>Samsung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>

       <div style="width: 80%; margin-left: 10%;">
              <h1>Giới thiệu chung</h1>
              <p style="margin-left: 50px;">Công ty Cổ phần Xây dựng và Đầu tư thương mại BQH sở hữu chuỗi cửa hàng BQH
                     Moblie - là nhà bán lẻ hàng đầu, chuyên cung cấp các sản phẩm công nghệ chính hãng tại thị trường
                     Việt Nam. Năm 1996, BQH được thành lập, từng bước trở thành địa chỉ đáng tin cậy của người tiêu
                     dùng Việt. Với khẩu hiệu “Nếu những gì chúng tôi không có, nghĩa là bạn không cần”, chúng tôi đã,
                     đang và sẽ tiếp tục nỗ lực đem đến các sản phẩm công nghệ chính hãng đa dạng, phong phú đi kèm mức
                     giá tốt nhất phục vụ nhu cầu của quý khách hàng. </p>
              <br>
              <p style="margin-left: 50px;">Sau hơn 20 năm phát triển, BQH đã trở thành cái tên không còn xa lạ với
                     người tiêu dùng trong nước. Hiện nay chúng tôi đang sở hữu mạng lưới hơn 100 chi nhánh phủ trên
                     khắp cả nước, trong đó bao gồm hai trung tâm bảo hành tại Hà Nội và một trung tâm bảo hành tại
                     thành phố Hồ Chí Minh. Đến với chuỗi cửa hàng của BQH, quý khách có thể hoàn toàn yên tâm về uy
                     tín, chất lượng sản phẩm với mức giá rẻ hơn khoảng 15-20% so với giá bán trên thị trường. Song song
                     với đó, chúng tôi cũng luôn nỗ lực phục vụ đem đến trải nghiệm dịch vụ tốt nhất cho khách hàng.
              </p>
              <h2>Những dấu mốc quan trọng</h2>
              <p style="margin-left: 50px;">
                     • Năm 1996: Thành lập cửa hàng BQH Mobile đầu tiên tọa lạc trên xã Tả Thanh Oai huyện Thanh Trì,
                     địa chỉ số 15 ngách 50 ngõ 11.
                     <br> • Năm 2000: BQH chính thức trở thành nhà phân phối ĐTDĐ chính hãng hợp tác với nhiều nhãn hàng
                     lớn hàng đầu như Samsung, OPPO, Apple, Asus, Xiaomi,…
                     <br> • Năm 2006: Với kinh nghiệm 10 năm trong lĩnh vực bán lẻ, BQH phát triển mạnh mẽ và liên tục
                     mở thêm nhiều chi nhánh mới.
                     <br> • Năm 2016: Kỉ niệm 20 năm hoạt động trong lĩnh vực bán lẻ các sản phẩm công nghệ, BQH đã
                     khẳng định được chỗ đứng vững chắc trên thị trường cũng như trong tiềm thức người tiêu dùng.
                     <br> • Năm 2019: BQH chính thức hợp tác với ông lớn ngành viễn thông Vinaphone Việt Nam mở chuỗi
                     chi nhánh bán hàng liên kết, nâng tổng số chi nhánh tới hơn 60, đồng thời phủ khắp 50 tỉnh thành
                     trên cả nước. Kể từ đó, BQH liên tục đồng hành cùng Vinaphone tổ chức các sự kiện lớn nhỏ.
                     <br> • Năm 2020: BQH tự hào trở thành nhà bán lẻ ủy quyền chính thức của Apple tại Việt Nam. Các
                     sản phẩm Apple chính hãng VN/A do Apple Việt Nam phân phối được bán tại hệ thống BQH với mức giá
                     tốt nhất thị trường cùng chế độ bảo hành uy tín.
              </p>
              <h2>Tôn chỉ hoạt động </h2>
              <p style="margin-left: 50px;">•BQH luôn hoạt động dựa trên tôn chỉ đặt khách hàng là trung tâm, mọi nỗ lực
                     để đạt được mục tiêu cao nhất là làm hài lòng người dùng thông qua các sản phẩm được cung cấp và
                     dịch vụ khách hàng. BQH đang từng bước xây dựng dịch vụ khách hàng vượt trội, xứng đáng là đơn vị
                     bán lẻ hàng đầu tại Việt Nam. Sự tin tưởng và ủng hộ nhiệt tình của quý khách hàng tại chuỗi chi
                     nhánh đã phần nào khẳng định hiệu quả hoạt động của đội ngũ nhân viên BQH. </p>
              <p style="margin-left: 50px;">•Đối với quý khách hàng, chúng tôi luôn đặt cái tâm làm gốc, làm việc với
                     tinh thần nghiêm túc, trung thực và có trách nhiệm, để mang tới trải nghiệm dịch vụ tốt nhất. </p>
              <p style="margin-left: 50px;">•Đối với đồng nghiệp, chúng tôi đề cao văn hóa học hỏi, đoàn kết, tương trợ
                     lẫn nhau tạo nên môi trường làm việc tôn trọng - công bằng - văn minh cho nhân viên trong công ty.
              </p>
              <p style="margin-left: 50px;">•Đối với các đối tác, BQH luôn làm việc dựa trên nguyên tắc tôn trọng, cùng
                     tạo ra giá trị cho cộng đồng và cùng phát triển bền vững. </p>
              <h2>Tầm nhìn và sứ mệnh</h2>
              <p style="margin-left: 50px;">Những năm qua, chúng tôi không ngừng cải thiện dịch vụ tại các chi nhánh và
                     hỗ trợ khách hàng qua các kênh online. BQH cam kết mang đến những sản phẩm chất lượng và chế độ bảo
                     hành uy tín, sẵn sàng hỗ trợ khách hàng trong thời gian nhanh nhất.</p>
       </div>

       <footer class="footer">
              <div style="margin-top: 50px;" class="container-footer">
                     <div class="row">
                            <div class="footer-col">
                                   <h4>
                                          <a>Hỗ trợ - Dịch vụ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Mua hàng trả góp</a></li>
                                          <li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                                          <li><a href="#">Tra cứu hóa đơn</a></li>
                                          <li><a href="#">Chính sách bảo hành</a></li>
                                          <li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
                                          <li><a href="#">Chính sách bảo mật</a></li>
                                          <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                                          <li><a href="#">Điều khoản mua bán hàng hóa</a></li>
                                          <li><a href="#">Câu hỏi thường gặp</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Thông tin liên hệ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Bán hàng Online</a></li>
                                          <li><a href="#">Chăm sóc khách hàng</a></li>
                                          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                                          <li><a href="#">Hỗ trợ bảo hành & sửa chữa</a></li>
                                          <li><a href="#">Liên hệ khối văn phòng</a></li>
                                          <li><a href="#">Hợp tác kinh doanh</a></li>
                                          <li><a href="#">Trung tâm bảo hành</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Hệ thống 126 siêu thị trên toàn quốc</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Danh sách 126 siêu thị trên toàn quốc</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>Tổng đài</h4>
                                   <a class="hotline" href="tel:19002610">1900.2610</a>
                            </div>
                            <div class="footer-col">
                                   <h4>Thanh toán miến phí</h4>
                                   <ul class="list-logo">
                                          <li>
                                                 <img src="..\img\logo-visa.png" />
                                                 <img src="..\img\logo-master.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-samsungpay.png">
                                                 <img src="..\img\logo-jcb.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-atm.png">
                                                 <img src="..\img\logo-vnpay.png">
                                          </li>
                                   </ul>
                            </div>

                     </div>
                     <div class="info">
                            <p>© 2023. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI BQH.</p>
                            <p>Địa chỉ: Số 01 Đường Phan Trọng Tuệ, Phường Thanh Liệt, Huyện Thanh Trì, Thành Phố Hà
                                   Nội, Việt Nam.</p>
                     </div>
       </footer>
</body>

</html>