<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./style.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <title>ShopBQH</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>
                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>Samsung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>

       <div class="slider">
              <div class="slide-wrapper">
                     <img class="slide" src="../img/slide1.png" alt="Slide 1">
                     <img class="slide" src="../img/slide2.jpg" alt="Slide 2">
                     <img class="slide" src="../img/slide3.png" alt="Slide 3">
                     <img class="slide" src="../img/slide4.jpg" alt="Slide 4">
              </div>
              <div class="controls">
                     <button class="prev" onclick="prevSlide()"><img class="bt_left" src="../img/bxs-left-arrow.png"
                                   alt=""></button>
                     <button class="next" onclick="nextSlide()"><img class="bt_right" src="../img/bxs-right-arrow.png"
                                   alt=""></button>
              </div>
              <div class="thumbnails">
                     <img class="thumbnail" src="../img/slide1.png" onclick="setSlide(1)" alt="Thumbnail 1">
                     <img class="thumbnail" src="../img/slide2.jpg" onclick="setSlide(2)" alt="Thumbnail 2">
                     <img class="thumbnail" src="../img/slide3.png" onclick="setSlide(3)" alt="Thumbnail 3">
                     <img class="thumbnail" src="../img/slide4.jpg" onclick="setSlide(4)" alt="Thumbnail 4">
              </div>
       </div>
       <script src="./app.js"></script>



       <div class="div_samsung">
              <div class="div_logo">
                     <p class="logo-samsung"><a href="">SAMSUNG</a></p>
              </div>
              <ul class="sp-samsung">

                     <li><a href="./index-order-ss.html">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <img class="re-het-co" src="../img/new-re-het-co.png" alt="">
                                   <div><img src="../img/samsung/a34-3.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 23px;">SAMSUNG A34 5G 6/128GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">10.500.000đ</p>
                                          <b class="gia-ss-new">6.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <img class="re-het-co" src="../img/new-re-het-co.png" alt="">
                                   <div><img src="../img/samsung/S20 FE.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 30px;">SAMSUNG S20 FE 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">21.350.000đ</p>
                                          <b class="gia-ss-new">14.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <div><img src="../img/samsung/ss-a73.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 40px;">SAMSUNG A73 6/64GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">8.000.000đ</p>
                                          <b class="gia-ss-new">4.700.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <div><img src="../img/samsung/ss-s22-plus.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 20px;">SAMSUNG S22 PLUS 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">25.000.000đ</p>
                                          <b class="gia-ss-new">22.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <img class="re-het-co" src="../img/new-re-het-co.png" alt="">
                                   <div><img src="../img/samsung/ss-s23.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 13px;">SAMSUNG S23 ULTRA 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">30.000.000đ</p>
                                          <b class="gia-ss-new">22.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <div><img src="../img/samsung/a14-2.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 23px;">SAMSUNG A14 4/64GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">7.500.000đ</p>
                                          <b class="gia-ss-new">4.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <img class="re-het-co" src="../img/new-re-het-co.png" alt="">
                                   <div><img src="../img/samsung/a23-5g.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 30px;">SAMSUNG A23 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">21.350.000đ</p>
                                          <b class="gia-ss-new">14.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <div><img src="../img/samsung/z-flip-256.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 25px;">SAMSUNG Z-FLIP 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">33.000.000đ</p>
                                          <b class="gia-ss-new">28.700.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <div><img src="../img/samsung/z-flip.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 20px;">SAMSUNG Z-FLIP 8/128GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">28.000.000đ</p>
                                          <b class="gia-ss-new">25.000.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ss" src="../img/samsung/logo-ss.jpg" alt="">
                                   <img class="re-het-co" src="../img/new-re-het-co.png" alt="">
                                   <div><img src="../img/samsung/z-fold.png" alt=""></div>
                                   <div class="ten-ss" style="margin-left: 20px;">SAMSUNG Z-FOLD 8/256GB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-ss">30.000.000đ</p>
                                          <b class="gia-ss-new">22.000.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>

       <center><a href="">
                     <div style="margin-top:280px ;"><img src="../img/QC/QC-1.png" alt=""></div>
              </a></center>

       <div style="margin-top: 20px;" class="div_apple">
              <div class="div_logo">
                     <p class="logo-apple"><a href="">APPLE</a></p>
              </div>
              <ul class="sp-apple">

                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-11.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 23px;">IPHONE 11 (128GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">10.290.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/13.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 13 (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">14.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-yellow.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 28px;">IPHONE 14 PLUS (128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">21.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-pro.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 14 PRO (256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">27.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/14-prm.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 20px;">IPHONE 14 PROMAX (256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">29.490.000đ</b>
                                   </div>
                            </a></li>

                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-11-512.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 23px;">IPHONE 11 (512GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">12.390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-13-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 10px;">IPHONE 13 MINI (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">20.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-12.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 30px;">IPHONE 12 (128GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">15.190.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-12-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 10px;">IPHONE 12 MINI (256GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">19.900.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <img class="logo-ip" src="../img/ip/logo-apple.png" alt="">
                                   <div><img src="../img/ip/ip-13-mini.png" alt=""></div>
                                   <div class="ten-ip" style="margin-left: 13px;">IPHONE 13 MINI (512GB) - VN/A</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <b class="gia-ip-new">20.990.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>


       <center><a href="">
                     <div style="margin-top:200px;"><img style="margin-top:100px;width: 80%; height: 200px;"
                                   src="../img/QC/QC-2.png" alt=""></div>
              </a></center>

       <div style="margin-top: 20px;" class="div_xiaomi">
              <div class="div_logo">
                     <p class="logo-xiaomi"><a href="">XIAOMI</a></p>
              </div>
              <ul class="sp-xiaomi">

                     <li><a href="">
                                   <div><img src="../img/xiaomi/pocom4.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 38px;">POCO M4 (4GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">4.500.000đ</p>
                                          <b class="gia-mi-new">2.290.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redmi10.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 38px;">REDMI 10 (6GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">10.500.000đ</p>
                                          <b class="gia-mi-new">7.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redmi12c.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 30px;">REDMI 12C (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">12.000.000đ</p>
                                          <b class="gia-mi-new">9.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redmi9a.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 35px;">REDMI 9A (8GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">18.500.000đ</p>
                                          <b class="gia-mi-new">15.340.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redmia1.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 40px;">REDMI A1(2GB/32GB) </div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia" style="margin-left: 15px;">
                                          <p class="gia-mi">2.500.000đ</p>
                                          <b class="gia-mi-new">1.490.000đ</b>
                                   </div>
                            </a></li>

                     <li><a href="">
                                   <div><img src="../img/xiaomi/redminote-11s.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 12px;">REDMI NOTE 11S (8GB/512GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">15.790.000đ</p>
                                          <b class="gia-mi-new">12.390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redminote12.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 13px;">REDMI NOTE 12(8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">13.500.000đ</p>
                                          <b class="gia-mi-new">11.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/redminote12pro.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 14px;">REDMI NOTE 12 (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">10.500.000đ</p>
                                          <b class="gia-mi-new">9.190.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/thumb-xiaomi-13-lite.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 14px;">XIAOMI 13 LITE (6GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">13.550.000đ</p>
                                          <b class="gia-mi-new">11.900.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/xiaomi/xiaomi12.png" alt=""></div>
                                   <div class="ten-mi" style="margin-left: 30px;">XIAOMI 12 (8GB/512GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-mi">14.500.000đ</p>
                                          <b class="gia-mi-new">12.990.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>


       <center><a href="">
                     <div style="margin-top:200px;"><img style="margin-top:50px;width: 80%; height: 200px;"
                                   src="../img/QC/QC-3.png" alt=""></div>
              </a></center>
       <!-- ///////////////////////////////// -->

       <div style="margin-top: 20px;" class="div_oppo">
              <div class="div_logo">
                     <p class="logo-oppo"><a href="">OPPO</a></p>
              </div>
              <ul class="sp-oppo">

                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoA54.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">OPPO A54 (4GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">4.500.000đ</p>
                                          <b class="gia-op-new">2.290.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoA55.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">OPPO A55 (6GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">10.500.000đ</p>
                                          <b class="gia-op-new">7.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoFindX2.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 30px;">OPPO FIND X2 (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">12.000.000đ</p>
                                          <b class="gia-op-new">9.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno4.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 35px;">OPPO RENO 4 (8GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">18.500.000đ</p>
                                          <b class="gia-op-new">15.340.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno4Pro.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 20px;">RENO 4PRO(8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia" style="margin-left: 15px;">
                                          <p class="gia-op">2.500.000đ</p>
                                          <b class="gia-op-new">1.490.000đ</b>
                                   </div>
                            </a></li>

                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno7_4G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 10px;">OPPO RENO 7 (8GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">15.790.000đ</p>
                                          <b class="gia-op-new">12.390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno7_5G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 19px;">OPPO RENO 7 (8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">13.500.000đ</p>
                                          <b class="gia-op-new">11.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno8Pro.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 14px;">OPPO RENO 8 PRO (8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">10.500.000đ</p>
                                          <b class="gia-op-new">9.190.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/Reno8_4G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 14px;">OPPO RENO 8 (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">13.550.000đ</p>
                                          <b class="gia-op-new">11.900.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/Reno8_5G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 30px;">OPPO RENO 8 (8GB/512GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">14.500.000đ</p>
                                          <b class="gia-op-new">12.990.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>

       <center><a href="">
                     <div style="margin-top:200px;"><img style="margin-top:80px;width: 80%; height: 200px;"
                                   src="../img/QC/QC-4.png" alt=""></div>
              </a></center>

       <div style="margin-top: 20px;" class="div_oppo">
              <div class="div_logo">
                     <p class="logo-oppo" style="background-color: indigo;"><a href="">PHỤ KIỆN</a></p>
              </div>
              <ul class="sp-oppo">

                     <li><a href="">
                                   <div><img src="../img/Phụ Kiện/1.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">SẠC DỰ PHÒNG MILI</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">660.000đ</p>
                                          <b class="gia-op-new">390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Phụ Kiện/2.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">CÁP PISEN MICRO USB</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">200.000đ</p>
                                          <b class="gia-op-new">149.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Phụ Kiện/3.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 30px;">CÁP PISEN USB TYPE-C</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">220.000đ</p>
                                          <b class="gia-op-new">169.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Phụ Kiện/4.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 35px;">CÁP PISEN LIGHTNING</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">180.000đ</p>
                                          <b class="gia-op-new">130.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Phụ Kiện/5.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 15px;">SẠC DỰ PHÒNG HYPERJUICE</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">500.000đ</p>
                                          <b class="gia-op-new">390.000đ</b>
                                   </div>
                            </a></li>

              </ul>
       </div>

       <center><a href="">
                     <div style="margin-top:50px;"><img style="margin-top:-100px; width: 80%; height: 200px;"
                                   src="../img/QC/QC-5.png" alt=""></div>
              </a></center>
       <!-- ///////////////////////////////// -->


       <footer class="footer">
              <div class="container-footer">
                     <div class="row">
                            <div class="footer-col">
                                   <h4>
                                          <a>Hỗ trợ - Dịch vụ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Mua hàng trả góp</a></li>
                                          <li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                                          <li><a href="#">Tra cứu hóa đơn</a></li>
                                          <li><a href="#">Chính sách bảo hành</a></li>
                                          <li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
                                          <li><a href="#">Chính sách bảo mật</a></li>
                                          <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                                          <li><a href="#">Điều khoản mua bán hàng hóa</a></li>
                                          <li><a href="#">Câu hỏi thường gặp</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Thông tin liên hệ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Bán hàng Online</a></li>
                                          <li><a href="#">Chăm sóc khách hàng</a></li>
                                          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                                          <li><a href="#">Hỗ trợ bảo hành & sửa chữa</a></li>
                                          <li><a href="#">Liên hệ khối văn phòng</a></li>
                                          <li><a href="#">Hợp tác kinh doanh</a></li>
                                          <li><a href="#">Trung tâm bảo hành</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Hệ thống 126 siêu thị trên toàn quốc</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Danh sách 126 siêu thị trên toàn quốc</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>Tổng đài</h4>
                                   <a class="hotline" href="tel:19002610">1900.2610</a>
                            </div>
                            <div class="footer-col">
                                   <h4>Thanh toán miến phí</h4>
                                   <ul class="list-logo">
                                          <li>
                                                 <img src="..\img\logo-visa.png" />
                                                 <img src="..\img\logo-master.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-samsungpay.png">
                                                 <img src="..\img\logo-jcb.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-atm.png">
                                                 <img src="..\img\logo-vnpay.png">
                                          </li>
                                   </ul>
                            </div>

                     </div>
                     <div class="info">
                            <p>© 2023. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI BQH.</p>
                            <p>Địa chỉ: Số 01 Đường Phan Trọng Tuệ, Phường Thanh Liệt, Huyện Thanh Trì, Thành Phố Hà
                                   Nội, Việt Nam.</p>
                     </div>
       </footer>
</body>

</html>