<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./style.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <link rel="stylesheet" href="https://boxicons.com/">
       <title>ShopBQH</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>

                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>Samsung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>
       <div style="margin-top: 20px;" class="div_oppo">
              <div class="div_logo">
                     <p class="logo-oppo"><a href="">OPPO</a></p>
              </div>
              <ul class="sp-oppo">

                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoA54.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">OPPO A54 (4GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">4.500.000đ</p>
                                          <b class="gia-op-new">2.290.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoA55.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 38px;">OPPO A55 (6GB/64GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">10.500.000đ</p>
                                          <b class="gia-op-new">7.490.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoFindX2.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 30px;">OPPO FIND X2 (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">12.000.000đ</p>
                                          <b class="gia-op-new">9.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno4.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 35px;">OPPO RENO 4 (8GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">18.500.000đ</p>
                                          <b class="gia-op-new">15.340.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno4Pro.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 20px;">RENO 4PRO(8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia" style="margin-left: 15px;">
                                          <p class="gia-op">2.500.000đ</p>
                                          <b class="gia-op-new">1.490.000đ</b>
                                   </div>
                            </a></li>

                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno7_4G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 10px;">OPPO RENO 7 (8GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">15.790.000đ</p>
                                          <b class="gia-op-new">12.390.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno7_5G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 19px;">OPPO RENO 7 (8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">13.500.000đ</p>
                                          <b class="gia-op-new">11.990.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/OppoReno8Pro.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 14px;">OPPO RENO 8 PRO (8GB/256GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">10.500.000đ</p>
                                          <b class="gia-op-new">9.190.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/Reno8_4G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 14px;">OPPO RENO 8 (6GB/128GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">13.550.000đ</p>
                                          <b class="gia-op-new">11.900.000đ</b>
                                   </div>
                            </a></li>
                     <li><a href="">
                                   <div><img src="../img/Oppo/Reno8_5G.png" alt=""></div>
                                   <div class="ten-op" style="margin-left: 30px;">OPPO RENO 8 (8GB/512GB)</div>
                                   <p class="chinh-hang">Chính hãng</p>
                                   <div class="gia">
                                          <p class="gia-op">14.500.000đ</p>
                                          <b class="gia-op-new">12.990.000đ</b>
                                   </div>
                            </a></li>
              </ul>
       </div>
       <footer class="footer">
              <div style="margin-top: 250px;" class="container-footer">
                     <div class="row">
                            <div class="footer-col">
                                   <h4>
                                          <a>Hỗ trợ - Dịch vụ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Mua hàng trả góp</a></li>
                                          <li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                                          <li><a href="#">Tra cứu hóa đơn</a></li>
                                          <li><a href="#">Chính sách bảo hành</a></li>
                                          <li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
                                          <li><a href="#">Chính sách bảo mật</a></li>
                                          <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                                          <li><a href="#">Điều khoản mua bán hàng hóa</a></li>
                                          <li><a href="#">Câu hỏi thường gặp</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Thông tin liên hệ</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Bán hàng Online</a></li>
                                          <li><a href="#">Chăm sóc khách hàng</a></li>
                                          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                                          <li><a href="#">Hỗ trợ bảo hành & sửa chữa</a></li>
                                          <li><a href="#">Liên hệ khối văn phòng</a></li>
                                          <li><a href="#">Hợp tác kinh doanh</a></li>
                                          <li><a href="#">Trung tâm bảo hành</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>
                                          <a>Hệ thống 126 siêu thị trên toàn quốc</a>
                                   </h4>
                                   <ul>
                                          <li><a href="#">Danh sách 126 siêu thị trên toàn quốc</a></li>
                                   </ul>
                            </div>
                            <div class="footer-col">
                                   <h4>Tổng đài</h4>
                                   <a class="hotline" href="tel:19002610">1900.2610</a>
                            </div>
                            <div class="footer-col">
                                   <h4>Thanh toán miến phí</h4>
                                   <ul class="list-logo">
                                          <li>
                                                 <img src="..\img\logo-visa.png" />
                                                 <img src="..\img\logo-master.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-samsungpay.png">
                                                 <img src="..\img\logo-jcb.png">
                                          </li>
                                          <li>
                                                 <img src="..\img\logo-atm.png">
                                                 <img src="..\img\logo-vnpay.png">
                                          </li>
                                   </ul>
                            </div>

                     </div>
                     <div class="info">
                            <p>© 2023. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI BQH.</p>
                            <p>Địa chỉ: Số 01 Đường Phan Trọng Tuệ, Phường Thanh Liệt, Huyện Thanh Trì, Thành Phố Hà
                                   Nội, Việt Nam.</p>
                     </div>
       </footer>
</body>

</html>