<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./stylelogin.css">
       <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
       <title>Quên mật khẩu</title>
</head>

<body>
       <div class="box-menu">
              <ul class="menu">
                     <li><a href="./index.html">Trang chủ</a></li>

                     <li><a href="./indexgioithieu.html">Giới thiệu</a></li>
                     <li><a href="./indexdonhang.html">Đơn hàng</a></li>
                     <li><a href="">Tài khoản</a>
                            <div class="submenu">
                                   <ul>
                                          <li><a href="./Đăng kí.html">Đăng ký</a></li>
                                          <li><a href="./login.html">Đăng nhập</a></li>
                                   </ul>
                            </div>
                     </li>
              </ul>
       </div>

       <div>
              <ul class="timkiem">
                     <li><a href="./index.html"><img src="../img/ShopBQH.png" alt=""></a></li>
                     <li class="tk"><input class="ip_timkiem" type="search"
                                   placeholder="Nhập sản phẩm bạn muốn tìm kiếm..."></li>
                     <li><input class="logo_tk" type="image" src="../img/icon_timkiem.png" alt=""></li>
                     <li class="giohang"><a href="./indexgiohang.html"><img src="../img/icon_giohang.jpg" alt=""></a></li>
              </ul>
       </div>
       <div>
              <ul class="menu_sp">
                     <a href="./idexsamsung.html">
                            <li>SamSung</li>
                     </a>
                     <a href="./indexapple.html">
                            <li>Apple</li>
                     </a>
                     <a href="./indexxiaomi.html">
                            <li>Xiaomi</li>
                     </a>
                     <a href="./indexoppo.html">
                            <li>Oppo</li>
                     </a>
                     <a href="./indexphukien.html">
                            <li>Phụ kiện</li>
                     </a>
              </ul>
       </div>
       <div class="mk">
              <h2>Lấy lại mật khẩu</h2>
              <br>
              <p>Email</p><br>
              <input type="text" ><br>
              <p>Tên đăng nhập</p><br>
              <input type="text" ><br>
              <p>Mật khẩu mới</p><br>
              <input type="text" ><br>
              <p>Nhập lại mật khẩu</p><br>
              <input type="text" ><br>
              <div class="check">
              </div>
              <br>
              <button href="#">Lấy mật khẩu</button><br>
       </div>
</body>

</html>